#top-title{
  width: 90%;
  margin: auto;
}
#top-title h1{
  padding-left: 1em;
  width: 100%;
  font-weight: bolder;
}
#top-title h1:before{
  content:'>';
  margin-top: 0.4em;
  margin-left: -3em;
  padding-top: 0.3em;
  padding-left: 0.5em;
  border-radius:30px;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  height:1.8em;
  width:1.8em;
  font-size: 50%;
  position: absolute;
  display:inline-block;
  color: rgba(255,255,255,0.9);
  background-color: #808080;
}

.link-area{
  width: 90%;
  margin: auto;
}
.link-area img{
  margin-bottom: 2em;
  margin-top: 1em;
  border-radius: 40px;
  width: 100%;
}

.contact-wrap{
  padding: 3em;
  margin-top: 2em;
  background-color: #e0e0e0;
}
.contact-table{
  padding: 2em;
  background-color: white;
  margin: auto;
}
.contact-table td{
  padding: 1em;
}
.contact-table th{
  background-color: rgb(117, 130, 118);
  color: white;
  border: rgba(255,255,255,0.5) 1px solid;
  text-align: center;
  padding: 1em;
}
.contact-table textarea{
  line-height: 2em;
  height: 6em;
  box-shadow:0px 0px 5px;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.25);
}
.contact-table input.wpcf7-text{
  box-shadow:0px 0px 5px;
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.25);
}
input.wpcf7-submit{
  text-align: center;
  padding: 1em;
  background-color: #202020;
  width: 15em;
  height: 4em;
  color: white;
  margin: 3em auto;
  border-radius: 15px;
}
.submit-button{
  width: 100%;
  text-align: center; 
}