.guidance-tabs li{
    text-align: center;
    width: 50%;
    margin: auto;
}
.guidance-tabs ul{
    text-align: center;
    margin: auto;
}
.guidance-tabs li a{
    background-color: #e0e0e0;
}
.guidance-tabs li.active a{
    background-color: #f0f0f0;
}
#myTabContent{
    background-color: #f0f0f0;
    padding: 3em;
    border: solid 1px rgba(100,100,100,0.2);
}

#guidance-top h2{
  padding-left: 2em;
  width: 100%;
  font-weight: bolder;
}
#guidance-top h2:before{
  content:'>';
  margin-top: 0.4em;
  margin-left: -3em;
  padding-top: 0.3em;
  padding-left: 0.5em;
  border-radius:30px;
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  height:1.8em;
  width:1.8em;
  font-size: 50%;
  position: absolute;
  display:inline-block;
  color: rgba(255,255,255,0.9);
  background-color: #808080;
}